<app-modal-paciente-busqueda
  [(isVisible)]="isVisible"
  (pacienteSeleccionado)="onPacienteSeleccionado($event)">
</app-modal-paciente-busqueda>

<app-modal-servicio-seleccionfecha
  [(isVisible)]="isVisibleFecha"
  (fechaSeleccionada)="onFechaSeleccionada($event)">
</app-modal-servicio-seleccionfecha>



<div nz-row nzGutter="25">
    <!-- skeleton -->
    <ng-template #loadingSkeleton>
      <nz-skeleton class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]" [nzShape]="circle" [nzActive]="true"
        [nzParagraph]="{ rows: 6 }"></nz-skeleton>
    </ng-template>
    <!-- skeleton -->

    <div nz-col nzXs="24" class="mb-[25px]">
        <!-- New Contact -->
        <div class="flex items-center justify-center md:justify-end">
            <button  [routerLink]="['/administrador/paciente-registro']" class="flex items-center px-[14px] text-sm text-white rounded-md font-semibold bg-primary border-primary h-10 gap-[6px]"  nz-button >
                <i class="text-[12px]" nz-icon nzType="plus"></i>
                <span class="m-0">Registrar paciente</span>
              </button>
       </div>
         <!-- end: New Contact -->
      </div>

      <div nz-col nzXs="24" >
        <ng-container *ngIf="showContent; else loadingSkeleton">
          <div
            class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative mb-[25px]">
            <div
              class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
              <div class="flex items-center justify-between mb-4">
                <h4 class="text-lg font-medium text-dark dark:text-white/[.87]">Paciente</h4>
                <button (click)="muestraModal()" class="flex items-center px-[14px] text-sm text-white rounded-md font-semibold bg-primary border-primary h-10 gap-[6px]" nz-button>
                  <i class="text-[12px]" nz-icon nzType="search"></i>
                  <span class="m-0">Buscar</span>
                </button>
              </div>

            </div>
            <div class="p-[25px]">
              <form  [formGroup]="form" nz-form>

                <nz-form-item class="mb-[25px]">
                    <nz-form-label style="text-align: left;" nzXs="1"
                        class="text-[15px] font-semibold text-dark capitalize mb-[10px]">No</nz-form-label>
                    <nz-form-control nzXs="2" nzErrorTip="Campo requerido.">
                        <input formControlName="no" style="color:white" readonly
                            class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                            type="text" nz-input>
                    </nz-form-control>
                    &nbsp;&nbsp;
                    <nz-form-label style="text-align: left;" nzXs="1"
                        class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Nombre</nz-form-label>
                    <nz-form-control nzXs="4" nzErrorTip="Campo requerido.">
                        <input formControlName="nombre" style="color:white" readonly
                            class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                            type="text" nz-input>
                    </nz-form-control>
                    &nbsp;&nbsp;
                    <nz-form-label style="text-align: left;" nzXs="1"
                        class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Teléfono</nz-form-label>
                    <nz-form-control nzXs="4" nzErrorTip="Campo requerido.">
                        <input formControlName="telefono" style="color:white" readonly
                            class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                            type="text" nz-input>
                    </nz-form-control>
                    &nbsp;&nbsp;
                    <nz-form-label style="text-align: left;" nzXs="2"
                        class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Correo electrónico</nz-form-label>
                    <nz-form-control nzXs="4" nzErrorTip="Campo requerido.">
                        <input formControlName="correoElectronico" style="color:white" readonly
                            class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                            type="text" nz-input>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item class="mb-[25px]">
                    <nz-form-label style="text-align: left;" nzXs="1"
                        class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Edad</nz-form-label>
                    <nz-form-control nzXs="2" nzErrorTip="Campo requerido.">
                        <input formControlName="edad" style="color:white" readonly
                            class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                            type="text" nz-input>
                    </nz-form-control>
                    &nbsp;&nbsp;
                    <nz-form-label style="text-align: left;" nzXs="1"
                        class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Genero</nz-form-label>
                    <nz-form-control nzXs="2" nzErrorTip="Campo requerido.">
                        <input formControlName="genero" style="color:white" readonly
                            class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                            type="text" nz-input>
                    </nz-form-control>
                    &nbsp;&nbsp;
                    <nz-form-label style="text-align: left;" nzXs="1"
                        class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Peso</nz-form-label>
                    <nz-form-control nzXs="2" nzErrorTip="Campo requerido.">
                        <input formControlName="peso" style="color:white" readonly
                            class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                            type="text" nz-input>
                    </nz-form-control>
                    &nbsp;&nbsp;
                    <nz-form-label style="text-align: left;" nzXs="2"
                        class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Estatura</nz-form-label>
                    <nz-form-control nzXs="2" nzErrorTip="Campo requerido.">
                        <input formControlName="estatura" style="color:white" readonly
                            class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                            type="text" nz-input>
                    </nz-form-control>
                </nz-form-item>


                  
                </form>
            </div>
          </div>
        </ng-container>
      </div>

    <div nz-col nzXs="24" class="mb-[25px]">
        <ng-container *ngIf="showContent; else loadingSkeleton">
            <div
                class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative mb-[25px]">
                <div
                    class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
                    <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Datos del servicio</h4>
                </div>
                <div class="p-[25px]">
                    <form nz-form [formGroup]="formServicio">
                        <nz-form-item class="mb-[25px]">
                            <nz-form-label style="text-align: left;" nzXs="1"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Motivo</nz-form-label>
                            <nz-form-control nzXs="7" nzErrorTip="Campo requerido.">
                                <input formControlName="principalRazon" style="color:white"
                                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                                    type="text" nz-input>
                            </nz-form-control>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <nz-form-label style="text-align: left;" nzXs="1"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Estado</nz-form-label>
                            <nz-form-control nzXs="3" nzErrorTip="Campo requerido.">
                                <nz-select
                                    class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60"
                                    name="estado" formControlName="estado">
                                    <nz-option *ngFor="let option of estados" [nzValue]="option.id"
                                        [nzLabel]="option.nombre"></nz-option>
                                </nz-select>
                            </nz-form-control>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <nz-form-label style="text-align: left;" nzXs="1"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Dirección</nz-form-label>
                            <nz-form-control nzXs="11" nzErrorTip="Campo requerido.">
                                <input formControlName="direccion" style="color:white"
                                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                                    type="text" nz-input>
                            </nz-form-control>
                        </nz-form-item>

                        <nz-form-item class="mb-[25px]">
                            <nz-form-label style="text-align: left;" nzXs="2"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Requiere ayuda basica</nz-form-label>
                            <nz-form-control nzXs="1" nzErrorTip="Campo requerido.">
                                <nz-select
                                class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60"
                                name="requiereAyudaBasica" formControlName="requiereAyudaBasica">
                                <nz-option *ngFor="let option of opcionesSiNo" [nzValue]="option.id"
                                    [nzLabel]="option.descripcion"></nz-option>
                            </nz-select>
                            </nz-form-control>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <nz-form-label style="text-align: left;" nzXs="1"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Descripción</nz-form-label>
                            <nz-form-control nzXs="4" nzErrorTip="Campo requerido.">
                                <input formControlName="requiereAyudaBasicaDesc" style="color:white"
                                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                                    type="text" nz-input>
                            </nz-form-control>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <nz-form-label style="text-align: left;" nzXs="3"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Alguna enfermedad diagnosticada</nz-form-label>
                            <nz-form-control nzXs="1" nzErrorTip="Campo requerido.">
                                <nz-select
                                class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60"
                                name="enfermedadDiagnosticada" formControlName="enfermedadDiagnosticada">
                                <nz-option *ngFor="let option of opcionesSiNo" [nzValue]="option.id"
                                    [nzLabel]="option.descripcion"></nz-option>
                            </nz-select>
                            </nz-form-control>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <nz-form-label style="text-align: left;" nzXs="1"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Descripción</nz-form-label>
                            <nz-form-control nzXs="4" nzErrorTip="Campo requerido.">
                                <input formControlName="enfermedadDiagnosticadaDesc" style="color:white"
                                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                                    type="text" nz-input>
                            </nz-form-control>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <nz-form-label style="text-align: left;" nzXs="2"
                            class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Toma algun medicamento</nz-form-label>
                        <nz-form-control nzXs="1" nzErrorTip="Campo requerido.">
                            <nz-select
                            class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60"
                            name="tomaMedicamento" formControlName="tomaMedicamento">
                            <nz-option *ngFor="let option of opcionesSiNo" [nzValue]="option.id"
                                [nzLabel]="option.descripcion"></nz-option>
                        </nz-select>
                        </nz-form-control>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <nz-form-label style="text-align: left;" nzXs="1"
                            class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Descripción</nz-form-label>
                        <nz-form-control nzXs="4" nzErrorTip="Campo requerido.">
                            <input formControlName="tomaMedicamentoDesc" style="color:white"
                                class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                                type="text" nz-input>
                        </nz-form-control>
                        </nz-form-item>
                        
                        <nz-form-item class="mb-[25px]">
                            <nz-form-label style="text-align: left;" nzXs="2"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Requiere curaciones</nz-form-label>
                            <nz-form-control nzXs="1" nzErrorTip="Campo requerido.">
                                <nz-select
                                class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60"
                                name="requiereCuraciones" formControlName="requiereCuraciones">
                                <nz-option *ngFor="let option of opcionesSiNo" [nzValue]="option.id"
                                    [nzLabel]="option.descripcion"></nz-option>
                            </nz-select>
                            </nz-form-control>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <nz-form-label style="text-align: left;" nzXs="1"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Descripción</nz-form-label>
                            <nz-form-control nzXs="4" nzErrorTip="Campo requerido.">
                                <input formControlName="requiereCuracionesDesc" style="color:white"
                                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                                    type="text" nz-input>
                            </nz-form-control>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <nz-form-label style="text-align: left;" nzXs="3"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Cuenta con dispositivos médicos</nz-form-label>
                            <nz-form-control nzXs="1" nzErrorTip="Campo requerido.">
                                <nz-select
                                class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60"
                                name="dispositivosMedicos" formControlName="dispositivosMedicos">
                                <nz-option *ngFor="let option of opcionesSiNo" [nzValue]="option.id"
                                    [nzLabel]="option.descripcion"></nz-option>
                            </nz-select>
                            </nz-form-control>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <nz-form-label style="text-align: left;" nzXs="1"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Descripción</nz-form-label>
                            <nz-form-control nzXs="4" nzErrorTip="Campo requerido.">
                                <input formControlName="dispositivosMedicosDesc" style="color:white"
                                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                                    type="text" nz-input>
                            </nz-form-control>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <nz-form-label style="text-align: left;" nzXs="2"
                            class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Requiere monitoreo</nz-form-label>
                        <nz-form-control nzXs="1" nzErrorTip="Campo requerido.">
                            <nz-select
                                class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60"
                                name="requiereMonitoreo" formControlName="requiereMonitoreo">
                                <nz-option *ngFor="let option of opcionesSiNo" [nzValue]="option.id"
                                    [nzLabel]="option.descripcion"></nz-option>
                            </nz-select>
                        </nz-form-control>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <nz-form-label style="text-align: left;" nzXs="1"
                            class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Descripción</nz-form-label>
                        <nz-form-control nzXs="4" nzErrorTip="Campo requerido.">
                            <input formControlName="requiereMonitoreoDesc" style="color:white"
                                class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                                type="text" nz-input>
                        </nz-form-control>
                        </nz-form-item>

                        <nz-form-item class="mb-[25px]">
                            <nz-form-label style="text-align: left;" nzXs="2"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Cuidados nocturnos</nz-form-label>
                            <nz-form-control nzXs="1" nzErrorTip="Campo requerido.">
                                <nz-select
                                class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60"
                                name="cuidadosNocturnos" formControlName="cuidadosNocturnos">
                                <nz-option *ngFor="let option of opcionesSiNo" [nzValue]="option.id"
                                    [nzLabel]="option.descripcion"></nz-option>
                            </nz-select>
                            </nz-form-control>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <nz-form-label style="text-align: left;" nzXs="1"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Descripción</nz-form-label>
                            <nz-form-control nzXs="4" nzErrorTip="Campo requerido.">
                                <input formControlName="cuidadosNocturnosDesc" style="color:white"
                                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                                    type="text" nz-input>
                            </nz-form-control>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <nz-form-label style="text-align: left;" nzXs="3"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Requiere atención neurologica</nz-form-label>
                            <nz-form-control nzXs="1" nzErrorTip="Campo requerido.">
                                <nz-select
                                class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60"
                                name="requiereAtencionNeurologica" formControlName="requiereAtencionNeurologica">
                                <nz-option *ngFor="let option of opcionesSiNo" [nzValue]="option.id"
                                    [nzLabel]="option.descripcion"></nz-option>
                            </nz-select>
                            </nz-form-control>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <nz-form-label style="text-align: left;" nzXs="1"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Descripción</nz-form-label>
                            <nz-form-control nzXs="4" nzErrorTip="Campo requerido.">
                                <input formControlName="requiereAtencionNeurologicaDesc" style="color:white"
                                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                                    type="text" nz-input>
                            </nz-form-control>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <nz-form-label style="text-align: left;" nzXs="2"
                            class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Cuidados críticos</nz-form-label>
                        <nz-form-control nzXs="1" nzErrorTip="Campo requerido.">
                            <nz-select
                            class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60"
                            name="requiereCuidadosCriticos" formControlName="requiereCuidadosCriticos">
                            <nz-option *ngFor="let option of opcionesSiNo" [nzValue]="option.id"
                                [nzLabel]="option.descripcion"></nz-option>
                        </nz-select>
                        </nz-form-control>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <nz-form-label style="text-align: left;" nzXs="1"
                            class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Descripción</nz-form-label>
                        <nz-form-control nzXs="4" nzErrorTip="Campo requerido.">
                            <input formControlName="requiereCuidadosCriticosDesc" style="color:white"
                                class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                                type="text" nz-input>
                        </nz-form-control>
                        </nz-form-item>

                        <nz-form-item class="mb-[25px]">
                            <nz-form-label style="text-align: left;" nzXs="1"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Lugar</nz-form-label>
                            <nz-form-control nzXs="4" nzErrorTip="Campo requerido.">
                                <nz-select
                                    class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60"
                                    name="tipoLugar" formControlName="tipoLugar">
                                    <nz-option *ngFor="let option of tipoLugar" [nzValue]="option.id"
                                        [nzLabel]="option.descripcion"></nz-option>
                                </nz-select>
                            </nz-form-control>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <nz-form-label style="text-align: left;" nzXs="2"
                            class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Tipo enfermera</nz-form-label>
                        <nz-form-control nzXs="4" nzErrorTip="Campo requerido.">
                            <nz-select
                                    class="w-full capitalize [&>nz-select-top-control]:border-regular dark:[&>nz-select-top-control]:border-white/10 [&>nz-select-top-control]:bg-white [&>nz-select-top-control]:dark:bg-white/10 [&>nz-select-top-control]:shadow-none [&>nz-select-top-control]:text-dark [&>nz-select-top-control]:dark:text-white/60 [&>nz-select-top-control]:h-[50px] [&>nz-select-top-control]:flex [&>nz-select-top-control]:items-center [&>nz-select-top-control]:rounded-[6px] [&>nz-select-top-control]:px-[20px] [&>.ant-select-arrow]:text-theme-gray dark:[&>.ant-select-arrow]:text-white/60"
                                    name="tipoEnfermera" formControlName="tipoEnfermera">
                                    <nz-option *ngFor="let option of tipoEnfermera" [nzValue]="option.id"
                                        [nzLabel]="option.descripcion"></nz-option>
                                </nz-select>
                        </nz-form-control>
                        &nbsp;&nbsp;&nbsp;&nbsp;

                            <nz-form-label style="text-align: left;" nzXs="2"
                                class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Observaciones</nz-form-label>
                            <nz-form-control nzXs="12" nzErrorTip="Campo requerido.">
                                <input formControlName="observaciones" style="color:white"
                                    class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60"
                                    type="text" nz-input>
                            </nz-form-control>
                            
                            
                            
                        </nz-form-item>

                       

                       

                      
                        <div
                            class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
                            <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Fechas 
                                <button (click)="muestraModalFecha()" nz-button
                                class="bg-primary hover:bg-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] duration-300">
                                <i class="text-[12px]" nz-icon nzType="plus"></i>
                            </button></h4>

                            

                        </div>

                        <nz-table #basicTable 
                        nzShowSizeChanger
                        [nzData]="filteredData"
                        >
                          <thead>
                            <tr>
                            <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden [&:first-child]:rounded-s-[10px] [&:last-child]:rounded-e-[10px] capitalize" *ngFor="let column of listOfColumn" [nzSortFn]="column.compare">
                              {{ column.title }}
                            </th>
                              <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize"></th>
                            </tr>
                          </thead>
                          <tbody>
                          <tr class="group" *ngFor="let item of basicTable.data; let i = index">
                             <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.fecha }}</td>
                             <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.inicio }}</td> 
                             <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.termino }}</td> 

                             <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.horas }}</td>
                           

                             <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">

                              <button  (click)="borrarFecha(i)" nz-tooltip nzTooltipTitle="Borrar" nz-button
                      class="bg-danger/10 hover:bg-danger-hbr border-none text-danger hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] [&>span]:inline-flex">
                      <span class="text-[14px]" nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>

                              
                             </td>
                            </tr>
                          </tbody>
                        </nz-table>
                        <nz-form-item nzJustify="end">
                            <nz-form-control nzXs="22"></nz-form-control>


                            <nz-form-control nzXs="2">
                                <div class="flex flex-wrap gap-[15px]">
                                    <button (click)="guardar()" nz-button [nzLoading]="isLoading"
                                        class="bg-primary hover:bg-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] duration-300">
                                        <span>Guardar</span>
                                    </button>
                                </div>
                            </nz-form-control>
                        </nz-form-item>
                    </form>
                </div>
            </div>
        </ng-container>
      </div>
    
</div>