<nz-modal [nzMaskClosable]="false"  [(nzVisible)]="isVisible" [nzTitle]="modalTitle"
  [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="cerrarModal()">
  <ng-template #modalTitle>{{titulo}}</ng-template>

  <ng-template #modalContent>
    <form nz-form nzLayout="vertical" [formGroup]="form" (ngSubmit)="submitForm()">
      <nz-form-item>
          <nz-form-control nzErrorTip="Campo requerido.">
            <nz-form-label class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Nombre:</nz-form-label>
            <input formControlName="nombre" style="color:white" class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" type="text" nz-input >
          </nz-form-control>
        </nz-form-item>
       <nz-form-item>
         <nz-form-control nzErrorTip="Campo requerido.">
           <nz-form-label class="text-[15px] font-semibold text-dark capitalize mb-[10px]">Nombre corto:</nz-form-label>
           <input formControlName="nombreCorto" style="color:white" class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" type="text" nz-input #nombre>
         </nz-form-control>
       </nz-form-item>
     </form>
  </ng-template>

  <ng-template #modalFooter>
    <button
      class="bg-primary hover:bg-primary-hbr hover:border-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px]"
      nz-button nzType="primary" (click)="guardarEstado()" [nzLoading]="isLoadingMdl">Guardar</button>
  </ng-template>
</nz-modal>

<div nz-row nzGutter="25">
  <!-- skeleton -->
  <ng-template #loadingSkeleton>
    <nz-skeleton class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]" [nzShape]="circle" [nzActive]="true"
      [nzParagraph]="{ rows: 6 }"></nz-skeleton>
  </ng-template>
  <!-- skeleton -->

  <div nz-col nzXs="24" class="mb-[25px]">
    <!-- New Contact -->
    <div class="flex items-center justify-center md:justify-end">
      <button (click)="muestraModal()"
        class="flex items-center px-[14px] text-sm text-white rounded-md font-semibold bg-primary border-primary h-10 gap-[6px]"
        nz-button>
        <i class="text-[12px]" nz-icon nzType="plus"></i>
        <span class="m-0">Nuevo estado</span>
      </button>
    </div>
    <!-- end: New Contact -->
  </div>
  <div nz-col nzXs="24" class="mb-[25px]">
    <ng-container *ngIf="showContent; else loadingSkeleton">
      <div
        class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative h-full">
        <div
          class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
          <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Catálogo de estados</h4>
        </div>
        <div class="p-[25px]" style="padding-top: 0px !important;">
          <div
            class="flex items-center justify-center w-full mt-5 mb-[25px] max-md:flex-col max-md:justify-center gap-[15px]">
            <div class="inline-flex items-center flex-wrap w-full gap-[20px] max-md:justify-center">
            </div>
            <div class="ssm:min-w-[380px]">
              <table>
                <tr>
                  <td>
                    <nz-input-group
                      class="h-10 inline-flex items-center text-body dark:text-white/60 bg-white dark:bg-white/10 border-normal border-1 dark:border-white/10 rounded-[6px] px-[20px]">
                      <i class="text-light dark:text-white/[.87] text-[18px]" nz-icon nzType="search"></i>
                      <input
                        class="bg-transparent border-none text-[15px] shadow-none text-dark dark:text-white/[.87] flex items-center"
                        type="text" nz-input placeholder="Buscar" [(ngModel)]="searchValue"
                        (ngModelChange)="filterItems()" />
                    </nz-input-group>
                  </td>
                  <td>
                    <button nz-button (click)="exportToExcel()">Exportar a Excel</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="w-full overflow-x-auto">
            <input #fileInput accept=".pdf" type="file" (change)="onFileSelect($event)" style="display: none;">

            <nz-table #basicTable nzShowSizeChanger [nzData]="filteredData">
              <thead>
                <tr>
                  <th
                    class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden [&:first-child]:rounded-s-[10px] [&:last-child]:rounded-e-[10px] capitalize"
                    *ngFor="let column of listOfColumn" [nzSortFn]="column.compare">
                    {{ column.title }}
                  </th>
                  <th
                    class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="group expiring-row" *ngFor="let item of basicTable.data">
                  <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                    {{ item.id }}</td>
                  <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                    {{ item.nombre }}</td>
                  <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                    {{ item.nombreCorto }}</td>
                    <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                    <nz-checkbox-wrapper class="flex flex-col w-full capitalize basic-checkbox text-theme-gray dark:text-white/60 gap-[5px] mb-[15px]" (nzOnChange)="log($event, item.id)">
                      <label class=" m-0 text-dark dark:text-white/[.87]" nz-checkbox nzValue="1" [ngModel]="!!item.activo"></label>
                    </nz-checkbox-wrapper>
                  </td>
                  
                  <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">


                    <table>
                      <tr>
                        <td>
                          <button (click)="editarEstado(item)" nz-tooltip nzTooltipTitle="Editar" nz-button
                            class="bg-info/10 hover:bg-info-hbr border-none text-info hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] [&>span]:inline-flex">
                            <span class="text-[14px]" nz-icon nzType="edit" nzTheme="outline"></span>
                          </button>
                        </td>
                        <td *ngIf="item.estatusContratoMantenimientoId === 1">
                          <button (click)="showAsignacionEquipoMedico(item.id)" nz-tooltip
                            nzTooltipTitle="Asignar equipos medicos" nz-button
                            class="bg-info/10 hover:bg-info-hbr border-none text-info hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] [&>span]:inline-flex">
                            <span class="text-[14px]" nz-icon nzType="desktop" nzTheme="outline"></span>
                          </button>
                        </td>
                        <td *ngIf="item.estatusContratoMantenimientoId === 1">
                          <button (click)="cerrarCapturaContrato(item.id)" nz-tooltip nzTooltipTitle="Cerrar captura" nz-button
                            class="bg-success/10 hover:bg-success-hbr border-none text-success hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] [&>span]:inline-flex">
                            <span class="text-[14px]" nz-icon nzType="check" nzTheme="outline"></span>
                          </button>
                        </td>
                        <td *ngIf="item.estatusContratoMantenimientoId === 2">
                          <button (click)="asignarMantenimientos(item.id)" nz-tooltip nzTooltipTitle="Asignar mantenimientos" nz-button
                            class="bg-info/10 hover:bg-info-hbr border-none text-info hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] [&>span]:inline-flex">
                            <span class="text-[14px]" nz-icon nzType="calendar" nzTheme="outline"></span>
                          </button>
                        </td>
                      </tr>
                    </table>




                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>