<nz-modal [nzMaskClosable]="false" [nzWidth]="'80%'" [(nzVisible)]="isVisible" [nzTitle]="modalTitle"
  [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="cerrarModal()">
  <ng-template #modalTitle>Asignar equipo medico</ng-template>

  <ng-template #modalContent>
    <div class="p-[25px]">
      <div class="w-full overflow-x-auto">
        <input #fileInput accept=".pdf" type="file" (change)="onFileSelect($event)" style="display: none;">

        <nz-table #basicTable nzShowSizeChanger [nzData]="filteredData_Asignacion">
          <thead>
            <tr>
              <th
                class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden [&:first-child]:rounded-s-[10px] [&:last-child]:rounded-e-[10px] capitalize"
                *ngFor="let column of listOfColumnEquipoMed" [nzSortFn]="column.compare">
                {{ column.title }}
              </th>
              
              <th
                class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">
                Mantenimientos al año
              </th>
              <th
                class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">
                Costo de mantenimiento con iva
              </th>
              <th
                class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="group expiring-row" *ngFor="let item of basicTable.data">
              <td
                class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                {{ item.area }}</td>
              <td
                class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                {{ item.descripcion }}</td>
              <td
                class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                {{ item.descripcionCorta }}</td>
              <td
                class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                {{ item.importe | currency: 'USD':'symbol':'1.2-2' }}</td>

              <td
                class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                {{ item.serie }}</td>
              <td
                class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                {{ item.noInventario }}</td>

              <td
                class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                {{ item.fechaAdquisicion | date: 'dd/MM/yyyy'}}</td>
              <td
                class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                <input type="text" [(ngModel)]="item.cantidadServiciosAnual" type="number" min="0"
                  class="w-full bg-transparent border-b border-gray-300 focus:outline-none focus:border-primary dark:border-gray-600 dark:focus:border-white"
                  placeholder="Cantidad de mantenimientos anual">
              </td>

              <td
                class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                <input type="text" [(ngModel)]="item.costoPorServicioConIva" type="number" min="0"
                  class="w-full bg-transparent border-b border-gray-300 focus:outline-none focus:border-primary dark:border-gray-600 dark:focus:border-white"
                  placeholder="Costo del servicio con iva">
              </td>

              <td
                class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">


                <table>
                  <tr>
                    <td *ngIf="item.asignado === 0 || !item.asignado">
                      <button (click)="asignarEquipoMedico(item)" nz-tooltip nzTooltipTitle="Asignar" nz-button
                        class="bg-success/10 hover:bg-success-hbr border-none text-success hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] [&>span]:inline-flex">
                        <span class="text-[14px]" nz-icon nzType="check" nzTheme="outline"></span>
                      </button>
                    </td>

                    <td *ngIf="item.asignado === 1">
                      <button (click)="desasignarEquipoMedico(item)" nz-tooltip nzTooltipTitle="Desasignar" nz-button
                        class="bg-danger/10 hover:bg-danger-hbr border-none text-danger hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] [&>span]:inline-flex">
                        <span class="text-[14px]" nz-icon nzType="close" nzTheme="outline"></span>
                      </button>
                    </td>
                  </tr>
                </table>




              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>



  </ng-template>

  <ng-template #modalFooter>
    <button
      class="bg-primary hover:bg-primary-hbr hover:border-primary-hbr border-solid border-1 border-primary text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px]"
      nz-button nzType="primary" (click)="guardarAsignacionEquipoMedico()" [nzLoading]="isLoadingMdl">Guardar</button>
  </ng-template>
</nz-modal>

<div nz-row nzGutter="25">
  <!-- skeleton -->
  <ng-template #loadingSkeleton>
    <nz-skeleton class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]" [nzShape]="circle" [nzActive]="true"
      [nzParagraph]="{ rows: 6 }"></nz-skeleton>
  </ng-template>
  <!-- skeleton -->

  <div nz-col nzXs="24" class="mb-[25px]">
    <!-- New Contact -->
    <div class="flex items-center justify-center md:justify-end">
      <button 
        class="flex items-center px-[14px] text-sm text-white rounded-md font-semibold bg-primary border-primary h-10 gap-[6px]"
        nz-button>
        <i class="text-[12px]" nz-icon nzType="plus"></i>
        <span class="m-0">Nuevo estado</span>
      </button>
    </div>
    <!-- end: New Contact -->
  </div>
  <div nz-col nzXs="24" class="mb-[25px]">
    <ng-container *ngIf="showContent; else loadingSkeleton">
      <div
        class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative h-full">
        <div
          class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
          <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Catálogo de estados</h4>
        </div>
        <div class="p-[25px]" style="padding-top: 0px !important;">
          <div
            class="flex items-center justify-center w-full mt-5 mb-[25px] max-md:flex-col max-md:justify-center gap-[15px]">
            <div class="inline-flex items-center flex-wrap w-full gap-[20px] max-md:justify-center">
            </div>
            <div class="ssm:min-w-[380px]">
              <table>
                <tr>
                  <td>
                    <nz-input-group
                      class="h-10 inline-flex items-center text-body dark:text-white/60 bg-white dark:bg-white/10 border-normal border-1 dark:border-white/10 rounded-[6px] px-[20px]">
                      <i class="text-light dark:text-white/[.87] text-[18px]" nz-icon nzType="search"></i>
                      <input
                        class="bg-transparent border-none text-[15px] shadow-none text-dark dark:text-white/[.87] flex items-center"
                        type="text" nz-input placeholder="Buscar" [(ngModel)]="searchValue"
                        (ngModelChange)="filterItems()" />
                    </nz-input-group>
                  </td>
                  <td>
                    <button nz-button (click)="exportToExcel()">Exportar a Excel</button>
                  </td>
                </tr>
              </table>
            </div>
          </div>

          <div class="w-full overflow-x-auto">
            <input #fileInput accept=".pdf" type="file" (change)="onFileSelect($event)" style="display: none;">

            <nz-table #basicTable nzShowSizeChanger [nzData]="filteredData">
              <thead>
                <tr>
                  <th
                    class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden [&:first-child]:rounded-s-[10px] [&:last-child]:rounded-e-[10px] capitalize"
                    *ngFor="let column of listOfColumn" [nzSortFn]="column.compare">
                    {{ column.title }}
                  </th>
                  <th
                    class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr class="group expiring-row" *ngFor="let item of basicTable.data">
                  <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                    {{ item.noContrato }}</td>
                  <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                    {{ item.descripcion }}</td>
                  <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                    {{ item.estatusContratoMantenimientoId }}</td>
                  <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                    {{ item.importe | currency: 'USD':'symbol':'1.2-2' }}</td>

                  <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                    {{ item.equipos }}</td>
                  <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                    {{ item.proveedor }}</td>
                  <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                    {{ item.correoElectronico }}</td>
                  <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                    {{ item.telefono }}</td>

                  <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                    {{ item.inicio | date: 'dd/MM/yyyy'}}</td>
                  <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                    {{ item.termino | date: 'dd/MM/yyyy'}}</td>


                  <td
                    class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">


                    <table>
                      <tr>
                        <td *ngIf="item.estatusContratoMantenimientoId === 1">
                          <button (click)="verEquipoMed(item.id)" nz-tooltip nzTooltipTitle="Editar" nz-button
                            class="bg-info/10 hover:bg-info-hbr border-none text-info hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] [&>span]:inline-flex">
                            <span class="text-[14px]" nz-icon nzType="edit" nzTheme="outline"></span>
                          </button>
                        </td>
                        <td *ngIf="item.estatusContratoMantenimientoId === 1">
                          <button (click)="showAsignacionEquipoMedico(item.id)" nz-tooltip
                            nzTooltipTitle="Asignar equipos medicos" nz-button
                            class="bg-info/10 hover:bg-info-hbr border-none text-info hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] [&>span]:inline-flex">
                            <span class="text-[14px]" nz-icon nzType="desktop" nzTheme="outline"></span>
                          </button>
                        </td>
                        <td *ngIf="item.estatusContratoMantenimientoId === 1">
                          <button (click)="cerrarCapturaContrato(item.id)" nz-tooltip nzTooltipTitle="Cerrar captura" nz-button
                            class="bg-success/10 hover:bg-success-hbr border-none text-success hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] [&>span]:inline-flex">
                            <span class="text-[14px]" nz-icon nzType="check" nzTheme="outline"></span>
                          </button>
                        </td>
                        <td *ngIf="item.estatusContratoMantenimientoId === 2">
                          <button (click)="asignarMantenimientos(item.id)" nz-tooltip nzTooltipTitle="Asignar mantenimientos" nz-button
                            class="bg-info/10 hover:bg-info-hbr border-none text-info hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] [&>span]:inline-flex">
                            <span class="text-[14px]" nz-icon nzType="calendar" nzTheme="outline"></span>
                          </button>
                        </td>
                      </tr>
                    </table>




                  </td>
                </tr>
              </tbody>
            </nz-table>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>