<nz-modal
[nzContent]="modalContent"
  [nzMaskClosable]="false"
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzFooter]="modalFooter"
  (nzOnCancel)="cerrarModal()"
  [nzWidth]="2000"

>
  <ng-template #modalTitle>Ofertas disponibles</ng-template>

  <ng-template #modalContent>
    <div class="flex items-center justify-center w-full mt-5 mb-[25px] max-md:flex-col max-md:justify-center gap-[15px]">
        <div class="w-full flex flex-wrap gap-4 items-center justify-start">
          
          </div>
        <div class="ssm:min-w-[0px]">
          <table>
            <tr>
              <td>
                <nz-input-group class="h-10 inline-flex items-center text-body dark:text-white/60 bg-white dark:bg-white/10 border-normal border-1 dark:border-white/10 rounded-[6px] px-[20px]">
                  <i class="text-light dark:text-white/[.87] text-[18px]" nz-icon nzType="search"></i>
                  <input
                    class="bg-transparent border-none text-[15px] shadow-none text-dark dark:text-white/[.87] flex items-center"
                    type="text"
                    nz-input
                    placeholder="Filtrar"
                    [(ngModel)]="searchValue"
                    (ngModelChange)="filterItems()"
                  />
                </nz-input-group>
              </td>
             
            </tr>
          </table>
        </div>
      </div>

    <nz-table #basicTable nzShowSizeChanger [nzData]="filteredData">
        <thead>
          <tr>
            <th
              class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden [&:first-child]:rounded-s-[10px] [&:last-child]:rounded-e-[10px] capitalize"
              *ngFor="let column of listOfColumn" [nzSortFn]="column.compare">
              {{ column.title }}
            </th>
            <th
              class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize">
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="group expiring-row" *ngFor="let item of basicTable.data">
            <td
            class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                {{ item.fecha | date: 'dd/MM/yyyy HH:mm' }}</td>
            <td
              class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
              {{ item.colaborador }}</td>
            <td
              class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
              {{ item.telefono }}</td>
            <td
              class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
              {{ item.correo }}</td>

              <td
              class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
              {{ item.tipoEnfermero }}</td>

              <td
              class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
              {{ item.comentario }}</td>

              <td
              class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
              {{ item.montoSolicitado | currency: 'USD':'symbol':'1.2-2'}}</td>

              <td
              class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
              {{ item.total | currency: 'USD':'symbol':'1.2-2'}}</td>

              <td
              class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
              {{ item.descuento | currency: 'USD':'symbol':'1.2-2'}}</td>


              <td
              class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
              {{ item.montoCobrado | currency: 'USD':'symbol':'1.2-2'}}</td>

              <td
              class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
              {{ item.beneficio | currency: 'USD':'symbol':'1.2-2'}}</td>

              <td
              class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
              {{ item.comision | currency: 'USD':'symbol':'1.2-2'}}</td>

              <td
              class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
              {{ item.beneficioTotal | currency: 'USD':'symbol':'1.2-2'}}</td>

            
            <td
              class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">

              <button
              class="bg-success hover:bg-success-hbr hover:border-success-hbr border-solid border-1 border-success text-white dark:text-white/[.87] text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px]"
              nz-button
              nzType="success"
              (click)="seleccionarPaciente(item)"
            >
              Seleccionar
            </button>


            </td>
          </tr>
        </tbody>
      </nz-table>
  </ng-template>

  <ng-template #modalFooter>
   
  </ng-template>
</nz-modal>
