<div nz-row nzGutter="25">
    <!-- skeleton -->
    <ng-template #loadingSkeleton>
      <nz-skeleton class="bg-white dark:bg-white/10 rounded-6 p-[30px] pt-[15px]" [nzShape]="circle" [nzActive]="true"
        [nzParagraph]="{ rows: 6 }"></nz-skeleton>
    </ng-template>
    <!-- skeleton -->

    <div nz-col nzXs="24" class="mb-[25px]">
        <!-- New Contact -->
        <div class="flex items-center justify-center md:justify-end">
         <button class="flex items-center px-[14px] text-sm text-white rounded-md font-semibold bg-primary border-primary h-10 gap-[6px]"  nz-button >
           <i class="text-[12px]" nz-icon nzType="plus"></i>
           <span class="m-0">Registrar colaborador</span>
         </button>
       </div>
         <!-- end: New Contact -->
      </div>

      <div nz-col nzXs="6" >
        <ng-container *ngIf="showContent; else loadingSkeleton">
          <div
            class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative mb-[25px]">
            <div
              class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
              <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Busqueda</h4>
            </div>
            <div class="p-[25px]">
              <form  [formGroup]="validateForm" nz-form>
                  <nz-form-item class="mb-[25px]">
                    <nz-form-label class="flex items-center font-medium dark:text-white/60 mb-[10px]" nzXs="6"
                      nzFor="textarea1">Nombre
                    </nz-form-label>
                    <nz-form-control nzXs="18">
                      <nz-select class="basic-select" name="basicSelect" formControlName="proveedorId">
                        <nz-option nzLabel="Todos" [nzValue]="0"></nz-option>
                        <nz-option *ngFor="let option of proveedores" [nzLabel]="option.noProveedor + ' - ' + option.razonSocial" [nzValue]="option.id">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                 
                  <nz-form-item>
                    <nz-form-label class="flex items-center font-medium dark:text-white/60 mb-[10px]" nzXs="6"
                      nzFor="textarea2">Correo electrónico
                    </nz-form-label>
                    <nz-form-control nzXs="18">
                      <input formControlName="fechaInicio"  style="color:white" class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" type="text" nz-input >
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>
                    <nz-form-label class="flex items-center font-medium dark:text-white/60 mb-[10px]" nzXs="6"
                      nzFor="textarea2">Teléfono
                    </nz-form-label>
                    <nz-form-control nzXs="18">
                      <input formControlName="fechaInicio"  style="color:white" class="w-full rounded-4 border-normal border-1 text-[15px] dark:bg-white/10 dark:border-white/10 px-[20px] py-[12px] h-[46px] outline-none placeholder:text-[#A0A0A0] text-theme-gray dark:text-white/60" type="text" nz-input >
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item class="mb-[25px]">
                    <nz-form-label class="flex items-center font-medium dark:text-white/60 mb-[10px]" nzXs="6"
                      nzFor="textarea1">Tipo
                    </nz-form-label>
                    <nz-form-control nzXs="18">
                      <nz-select class="basic-select" name="basicSelect" formControlName="estatusPagoId">
                        <nz-option nzLabel="Todos" [nzValue]="0"></nz-option>
                        <nz-option *ngFor="let option of estatus" [nzLabel]="option.descripcion" [nzValue]="option.id"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </nz-form-item>
                  <nz-form-item>

                    <nz-form-control nzXs="19"></nz-form-control>
                    <nz-form-control nzXs="4">
                        <button [nzLoading]="btnLoadingBusqueda" class="flex items-center px-[14px] text-sm text-white rounded-md font-semibold bg-primary border-primary h-10 gap-[6px]" (click)="buscarServicios()" nz-button >
                            <i class="text-[12px]" nz-icon nzType="search"></i>
                            <span class="m-0">Buscar</span>
                          </button>
                    </nz-form-control>
                      
                    
                  </nz-form-item>
                </form>
            </div>
          </div>
        </ng-container>
      </div>

    <div nz-col nzXs="18" class="mb-[25px]">
        <ng-container *ngIf="showContent; else loadingSkeleton">
          <div
            class="bg-white dark:bg-white/10 m-0 p-0 text-theme-gray dark:text-white/60 text-[15px] rounded-10 relative h-full">
            <div
              class="py-[16px] px-[25px] text-dark dark:text-white/[.87] font-medium text-[17px] border-regular dark:border-white/10 border-b">
              <h4 class="mb-0 text-lg font-medium text-dark dark:text-white/[.87]">Colaboradores</h4>
            </div>
            <div class="p-[25px]" style="padding-top: 0px !important;">
              <div>
                

                <div class="p-[25px]" style="padding-top: 0px !important;">

                  <div class="flex items-center justify-center w-full mt-5 mb-[25px] max-md:flex-col max-md:justify-center gap-[15px]">
                    <div class="inline-flex items-center flex-wrap w-full gap-[20px] max-md:justify-center">
                    </div>
                    <div class="ssm:min-w-[380px]">
                      <table>
                        <tr>
                          <td>
                            <nz-input-group class="h-10 inline-flex items-center text-body dark:text-white/60 bg-white dark:bg-white/10 border-normal border-1 dark:border-white/10 rounded-[6px] px-[20px]">
                              <i class="text-light dark:text-white/[.87] text-[18px]" nz-icon nzType="search"></i>
                              <input
                                class="bg-transparent border-none text-[15px] shadow-none text-dark dark:text-white/[.87] flex items-center"
                                type="text"
                                nz-input
                                placeholder="Buscar"
                                [(ngModel)]="searchValue"
                                (ngModelChange)="filterItems()"
                              />
                            </nz-input-group>
                          </td>
                          <td>
                            <button nz-button (click)="exportToExcel()">Exportar a Excel</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>

                        <div class="w-full overflow-x-auto">
                            <nz-table #basicTable 
                            nzShowSizeChanger
                            [nzData]="filteredData"
                            >
                              <thead>
                                <tr>
                                <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden [&:first-child]:rounded-s-[10px] [&:last-child]:rounded-e-[10px] capitalize" *ngFor="let column of listOfColumn" [nzSortFn]="column.compare">
                                  {{ column.title }}
                                </th>
                                  <th class="bg-regularBG dark:bg-[#323440] px-[20px] py-[16px] text-start text-dark dark:text-white/[.87] text-[15px] font-medium border-none before:hidden capitalize"></th>
                                </tr>
                              </thead>
                              <tbody>
                              <tr class="group" *ngFor="let item of basicTable.data">
                                 <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.folio }}</td>
                                 <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.cliente }}</td> 
                                 <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.telefono }}</td> 
  
                                 <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.estado }}</td> 
                                 <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.origen }}</td>
                                 <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.destino }}</td> 
                                 <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.total | currency: 'USD':'symbol':'1.2-2' }}</td>
                                 <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">
                                
                                  <span
                                  class="inline-flex items-center justify-center bg-active/10 text-active min-h-[24px] px-3 text-xs font-medium rounded-[15px] capitalize"
                                >
                                {{ item.estatus }}
                                </span>
                                </td>
                                 <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.proveedor }}</td>
                                 <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.grua }}</td>
                                 <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">{{ item.tipo }}</td>
                                 <td class="ltr:pr-[20px] rtl:pl-[20px] text-dark dark:text-white/[.87] text-[15px] py-4 before:hidden border-none group-hover:bg-transparent">

                                  <button  (click)="verServicio(item.id)" nz-tooltip nzTooltipTitle="Ver servicio" nz-button
                          class="bg-primary/10 hover:bg-primary-hbr border-none text-primary hover:text-white text-[14px] font-semibold leading-[22px] inline-flex items-center justify-center rounded-[4px] px-[20px] h-[44px] [&>span]:inline-flex">
                          <span class="text-[14px]" nz-icon nzType="search" nzTheme="outline"></span>
                        </button>

                                  
                                 </td>
                                </tr>
                              </tbody>
                            </nz-table>
                          </div>
                      </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    
</div>